@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
  font-family: 'Cream Cake';
  src: url('/fonts/Cream Cake.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cream Cake';
  src: url('/fonts/Cream Cake Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

