@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cream Cake';
  src: url('/fonts/Cream Cake.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cream Cake';
  src: url('/fonts/Cream Cake Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

